@import '~bulma/bulma.sass'; // ! comment out this line if you DO NOT want to use Bulma

@keyframes backgroundGradientAnimation {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  to {
    background-position: 0 50%;
  }
}

$gold: rgb(231, 189, 59);
$purple-one: rgb(145, 15, 225);
$purple-two: rgb(205, 96, 240);
$purple-three: rgb(239, 162, 238);

body,
.carousel-box {
  background: $purple-one;
  background: linear-gradient(270deg, $purple-one, $purple-two, $purple-three);
  background-size: 600% 600%;
  animation: backgroundGradientAnimation 4s ease infinite;
}

// h1 {
//   color: white;
// }

*,
.title,
.hero,
.subtitle {
  font-family: 'Kdam Thmor Pro', sans-serif;
  color: white;
}

.navbar {
  color: black;
}

.hero,
.MemeIndex,
.Loading {
  height: 100vh;
}

.home-meme {
  width: 400px;
}

.carousel-container,
.home-container,
.carousel,
.SearchBar {
  padding: 20px;
}

.carousel-container,
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Loading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-container {
  padding: 40px;
}

.carousel-container {
  width: 100%;
}

// .carousel-slider {
//   height: 800px;
// }

.carousel-item {
  width: 700px;
  height: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 280px;
  padding-top: 40px;
}

.carousel-box {
  // border: 5px groove rgb(169, 137, 41);
  border-radius: 30px;
  // background-color: rgb(231, 189, 59);
  img {
    border-radius: 30px;
  }
}
