@import '~bulma/bulma.sass'; // ! comment out this line if you DO NOT want to use Bulma

* {
  font-family: 'Kdam Thmor Pro', sans-serif;
}

.home-meme {
  width: 400px;
}

.carousel-container,
.home-container,
.carousel,
.SearchBar {
  padding: 20px;
}

.carousel-container,
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-container {
  padding: 40px;
}

.carousel-container {
  width: 100%;
}

// .carousel-slider {
//   height: 800px;
// }

.carousel-item {
  width: 700px;
  height: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 280px;
  padding-top: 40px;
}

.carousel {
  border: 5px groove rgb(169, 137, 41);
  border-radius: 30px;
  background-color: rgb(231, 189, 59);
}
