@import '~bulma/bulma.sass'; // ! comment out this line if you DO NOT want to use Bulma

* {
  font-family: 'Kdam Thmor Pro', sans-serif;
}

.hero {
  background-color: blue;
  height: 100vh;
}

.home-meme {
  width: 400px;
}

.carousel-container,
.home-container,
.carousel,
.SearchBar {
  padding: 20px;
}

.carousel-container,
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-container {
  padding: 40px;
}

.carousel-container {
  width: 100%;
}

// .carousel-slider {
//   height: 800px;
// }

.carousel {
  height: 900px;
}

.carousel-item {
  width: 400px;
  // height: 900px;
}
